
@charset "utf-8";

// Define defaults for each variable.

$content-font-family : "Source Serif 4";
$header-font-family : "Baskervville";
$literary-font-family : "Cormorant Garamond","Noto Serif Hebrew";
$blog-font-family : "Baskervville";

$base-font-family: "Baskervville", "Noto Serif Hebrew", 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', "Baskervville", sans-serif;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.85 !default;
$base-line-height: 1.8 !default;
$small-line-height: 1.6 !default;

$spacing-unit: 30px !default;

// Common colors
$social-color: #6389b8 !default;

$header-color: #acacac !default;


$text-color: #f8f8f8 !default;
$background-color: #1E1E1E !default;
$brand-color: #2a7ae2 !default;

$code-bg-color: #134e69 !default;

$highlight-color: #1768b0 !default;
$home-color: #1768b0 !default;

$grey-color: #ababab !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


@import "academia/base", "academia/layout";