---
layout: default
---

<head>
    <title>{{ site.title }}</title>
</head>

<div class="home-title">
  <p class="home-heading">{{ site.title }}</p>
  <p class="home-sub-heading">{{- site.description | escape -}}</p>
</div>

<ul class="post-list">
    <li>
      <h2 class="post-year"> academia</h2>
      <ul>

      </ul>
    </li>

    <li>
        <h2 class="post-year"> the garden of ideas </h2>
        <ul>
            <li>
              <span class="post-meta">
                ii.
              </span>
              <a class="black-link post-link-layout" href="{{ site.url }}/blog">
                all blog entries
              </a>
            </li>

            <li>
              <span class="post-meta">
                iii.
              </span>
              <a class="black-link post-link-layout" href="{{ site.url }}/poetry">
                poetry
              </a>
            </li>

            <!-- 
            <li>
              <span class="post-meta">
                ii.
              </span>
              <a class="black-link post-link-layout" href="{{ site.url }}/poetry">
                español
              </a>
            </li>
            -->
        </ul>
    </li>

  <li>
    <h2 class="post-year"> the world according to a cat </h2>
    <ul>
        <li>
          <span class="post-meta">
            iv.
          </span>
          <a class="black-link post-link-layout" href="{{ site.url }}/poetry">
            useful tips
          </a>
        </li>
    </ul>
</li>
</ul>

